body {
  margin: 0;
  overflow: hidden;
  background-color: #000;
}

#root {
  display: contents;
}

.test-btn {
  position: absolute;
  left: 2rem;
  top: 2rem;
  z-index: 100;
}

.my-video {
  width: 100svw;
  height: 100svh;
  object-fit: contain;
}
